<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <appSettings>
    <add key="appId" value="1"/>
    <add key="dbPath" value="Prints.sqlite"/>
    <add key="printer" value="EPSON R330 Series"/>
    <add key="pLimit" value="30"/>
    <add key="urlTask" value="http://www.qubaobei.com/weixin/pic_get.php"/>
    <add key="urlPost" value="http://www.qubaobei.com/weixin/pic_finish.php"/>
    <add key="urlCode" value="http://www.qubaobei.com/weixin/code_push.php"/>
    <add key="urlAdv" value="http://www.qubaobei.com/weixin/adv_get.php"/>
    <add key="isData" value="1"/>
  </appSettings>
</configuration>